.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featuresContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  justify-items: center;
}

.feature {
  flex: 0 0 auto;
  text-align: center;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
